body {
  margin: 0;
  color: lemonchiffon;
  height: 100%;
}
h1 {
  text-align: center;
  margin-bottom: 5vw;
}
button {
  text-align: center;
}
a {
  text-decoration: none;
  color: #fff;
}
.container {
  text-align: center;
}
.mb-5 {
  margin-top: 50px;
}
.s {
  padding-top: 15vh;
  padding-bottom: 45vh;
}
.row {
  width: 100%;
  margin-left: 0.5%;
}
.btn {
  width: 130px;
}

#dog {
  margin-left: 16%;
}
