@import url(//fonts.googleapis.com/css?family=Lato:300:400&display=swap);

.main {
  display: flex;
  min-height: 90vh;
  flex-direction: column;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 550;
  letter-spacing: 2px;
  font-size: 48px;
  margin-top: 10px;
}
p {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}
.container {
  text-align: center;
}
.divCenter {
  display: flex;
  justify-content: center;
  border: 2px;
  text-align: center;
}
.calculationBtn {
  text-align: center;
  margin-top: 35px;
}
.dep {
  color: #000000;
  text-align: center;
  padding-bottom: 1rem;
}
.sectionCustom {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.packet {
  text-align: center;
}
.finalResult {
  text-align: center;
}
body > footer {
  margin-top: auto;
}

.custom-select {
  position: relative;
  font-family: Arial;
  margin: 5px;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
  
}

.select-selected {
  background-color: #fff;
  
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 18px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #00947e transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #00947e transparent;
  top: 10px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #00947e;
  padding: 8px 16px;
  border: 1px solid;
  border-color: #00947e;
  cursor: pointer;
  border-radius: 5px;
  
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #dbfffa;
  border-radius: 5px;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}




.custom-select2 {
  position: relative;
  font-family: Arial;
  margin: 5px;
}

.custom-select2 select {
  display: none; /*hide original SELECT element: */
  
}

