
      @import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
      body {
        font-size: 16px;
        color: #404040;
        font-family: sans-serif;
        background: linear-gradient(
          43deg,
          rgba(53, 161, 239, 1) 36%,
          rgba(78, 219, 212, 1) 100%
        );

        /* background-image: linear-gradient(
          to bottom right,
          #c4f2f0 0% 65%,
          #8cedfc 95% 100%
        ); */
        background-position: center;
        background-attachment: fixed;
        margin-top: 2rem;
        display: grid;
        place-items: center;
        box-sizing: border-box;
      }

      .card {
        background-color: #fff;
        max-width: 360px;
        display: none;
        align-items: center;
        flex-direction: column;
        overflow: none;
        border-radius: 1.5rem;
        box-shadow: 0px 1rem 1.5rem rgba(0, 0, 0, 0.2);
        width: 90%;
        height: auto;
        margin-bottom: 40px;
        padding: 10px;
      }
      .card .banner {
        background-color: rgb(157, 209, 255);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: -webkit-fill-available;
        height: 9rem;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        box-sizing: border-box;
      }
      .card .banner svg {
        background-color: #fff;
        width: 8rem;
        height: 8rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        transform: translateY(50%);
        transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
      }
      .card .banner svg:hover {
        transform: translateY(50%) scale(1.3);
      }
      .card h2.name {
        text-align: center;
        margin: 0;
      }
      .card .detl {
        margin: 30px 0;
      }
      .card .title {
        color: #00e0ff;
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
        padding: 0 2rem 1.2rem;
      }
      .card .desc {
        text-align: center;
        order: 100;
      }

      .lnk {
        text-decoration: none;
        color: #777;
      }
      .lnk:hover {
        color: #0099ff;
      }
      .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      .card h2.name.skeleton {
        min-height: 27px;
        margin: 10px;
        border-radius: 4px;
      }
      .card .banner.skeleton {
        width: 100px;
        height: 100px;

        border-radius: 4px;
      }
      .card .title.skeleton {
        margin: 10px;
        border-radius: 4px;
      }
      .card .desc.skeleton {
        margin: 10px;
        min-height: 72px;
        border-radius: 4px;
      }
      .skeleton {
        background-color: #e2e5e7;
        background-image: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0.5),
          rgba(255, 255, 255, 0)
        );
        background-size: 40px 100%;
        background-repeat: no-repeat;
        background-position: left -40px top 0;
        animation: shine 1s ease infinite;
      }
      @keyframes shine {
        to {
          background-position: right -40px top 0;
        }
      }

      .smlicon {
        width: 15px;
        padding-right: 10px;
      }

      .searchbox {
        display: flex;
        align-items: center;
        justify-content: space-around;
        max-width: 360px;
        width: 90%;
        margin-top: 150px;
      }
      .input {
        border-radius: 5px;
        padding: 10px;
        border: 1px solid #777;
        display: block;
      }
      #searchButton {
        padding: 10px;
        border: none;
        border-radius: 5px;
        width: 90px;
        background-color: #fff;
        box-shadow: 0px 1rem 1.5rem rgba(0, 0, 0, 0.1);
      }

      #searchButton:hover {
        background-color: greenyellow;
      }

      .add {
        padding: 10px 20px;
        border: 1px solid;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        color: #404040;
        cursor: pointer;
        text-decoration: none;
    
      }

      .add:hover {
        background-color: #0099ff;
        color: #fff;
      }

      .dwnbtm{
        display: block;
      }

      .dwn{
        margin: 20px 10px 0 0;
      }

      #updtbtn{
        font-size: 13.333px;
      }
      
      #more {
        display: none;
      }
