.simple-slider .swiper-slide {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width:767px) {
  .simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
    display: none;
  }
}

@media (max-width:767px) {
  .simple-slider .swiper-slide {
    height: 360px;
  }
}

#demoModal {
  max-width: 100% !important;
  margin: 0 !important;
  left: 0 !important;
  position: absolute;
  position: absolute;
  position: absolute;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  right: 10px !important;
  top: 10px !important;
  height: 2.5rem;
  width: 2.5rem;
  background: rgba(193, 193, 193, .3) !important;
  border-radius: 50%;
  font-size: 1.8rem;
  charset=utf8,%3Csvg xmlns='http: //www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath d='M14.7,1.3c-0.4-0.4-1-0.4-1.4,0L8,6.6L2.7,1.3c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4L6.6,8l-5.3,5.3 c-0.4,0.4-0.4,1,0,1.4C1.5,14.9,1.7,15,2,15s0.5-0.1,0.7-0.3L8,9.4l5.3,5.3c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3 c0.4-0.4,0.4-1,0-1.4L9.4,8l5.3-5.3C15.1,2.3,15.1,1.7,14.7,1.3z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent;
  text-shadow: none;
  right: .5rem;
  top: unset;
  left: unset;
  right: unset;
  bottom: unset;
  width: unset;
  letter-spacing: 1px;
  padding: 15px 20px;
  font-size: .8rem;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all ease .2s;
  transform: scale(0);
  opacity: 0;
  letter-spacing: 1px;
  padding: 15px 20px;
  font-size: .8rem;
  background-position: center;
  background-color: #fff;
  background-color: #ececec;
  background-color: #fff;
  background-color: #e6e6e6;
  background-color: #28304e;
  background-color: #1b2035;
  background-color: #28304e;
  background-color: #171b2c;
  background-color: #f2545b;
  background-color: #ef3039;
  background-color: #f2545b;
  background-color: #ee252e;
  background-color: #0c9;
  background-color: #00a67c;
  background-color: #0c9;
  background-color: #009973;
  background-color: #95aac9;
  background-color: #7c96bc;
  background-color: #95aac9;
  background-color: #738fb8;
  overflow: hidden;
  height: 100vh;
  justify-content: center;
  overflow: auto;
  height: 100vh;
  padding: 25px;
  transition: all ease .2s;
  height: 100vh;
  text-decoration: none;
  position: absolute;
  z-index: 1;
  bottom: 10px;
  background: #000;
  padding: 4px 10px;
  font-size: 10px;
  left: 10px;
  border-radius: 29px;
  text-transform: uppercase;
  position: relative;
  display: block;
  border: 2px solid rgba(255, 255, 255, .18);
  border-radius: .25rem;
  height: 181.89px;
  border-bottom: 1px dashed currentColor;
  color: inherit;
  display: block;
  background-size: 680px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

