*{margin: 0;
padding: 0px;
box-sizing: border-box;}

body{
   
    text-align: center;
    

}
div {
    width: 100px;
    height: 100px;
    text-align: center;
    position: relative;
    animation: mymove 5s infinite;
  }
  
  @keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }

.weave1{
    animation: wheel 3s infinite  ;
    
}

@keyframes wheel {
    
    from {top: 0px;}
    to {top: 200px;}
}